/* ************** Custom Properities ********** */
:root {
  --first-color: #3a1f3f;
  --first-alpha-color: #4e2c56;
  --second-color: #e04f28;
  --second-alpha-color: #e26927;
  --third-color: #ededed;
  --third-alpha-color: #f3f2f3;
  --white-color: #ffffff;
  --gray-light-color: #f3f3f3;
  --grey-color: #cccccc;
  --grey-dark-color: #666666;
  --black-color: #1b1b1b;
  --link-color: #509ee3;
  --title-color: #333333;
  --text-color: rgb(25, 25, 25);
  --white-alpha-color: rgba(255, 255, 255, 0.5);
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 4rem;
  height: 100%;
}

/* ************* Reset ************* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-grow: 3;
  background: var(--gray-light-color);
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  background-image: linear-gradient(
    45deg,
    #f5eef8,
    #f4ecf7,
    #e8daef,
    #ebdef0,
    #fdf2e9,
    #fbeee6,
    #f6ddcc,
    #fae5d3
  );
  background-size: 400%;
  animation: bg-animation 20s infinite alternate;
}

body.dark {
  --first-color: #3a1f3f;
  --first-alpha-color: #e26927;
  --second-color: #e04f28;
  --text-color: #ffffff;
  --black-color: #ededed;
  --black-alpha-color: rgba(255, 255, 255, 0.5);
  --second-alpha-color: #e9e9e9;
  --box-shadow: 0 0 20px rgba(200, 199, 211, 0.15);
  --card-bg-hover: rgba(203, 203, 208, 0.3);
  background-image: linear-gradient(
    45deg,
    #1c2833,
    #212f3d,
    #273746,
    #2c3e50,
    #17202a,
    #1b2631
  );
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

a {
  color: var(--link-color);
  transition: all 0.5seg ease-out;
}

h1 {
  margin: 0;
  font-size: 2rem;
}

h2 {
  margin: 0;
  font-size: 1, 5rem;
}

h3 {
  margin: 0;
  font-size: 1.25rem;
}

h4 {
  margin: 0;
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-size: 0.85rem;
}

h6 {
  margin: 0;
  font-size: 0.7rem;
}

img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.6;
}

.none {
  display: none !important;
}

/* ************ Components *********** */

/* Cards */

.card {
  color: var(--third-color);
  background-image: url(assets/multimedia/img_campamento/campamento.01.jpg);
  background-size: cover;
  background-position: bottom;
  padding: 20rem 0 0;
  top: 10rem;
  margin-bottom: 3rem;
  width: 90vw;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 500ms ease;
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0%/ 0.67),
    hsl(0 0% 0% / 1)
  );
}

.card-title {
  margin-bottom: 1rem;
  font-size: 2rem;
  position: relative;
  width: max-content;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -3px;
  width: calc(100% + var(--padding));
  background: var(--second-color);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-subtitle {
  margin-bottom: 1rem;
  font-size: 2rem;
  position: relative;
  width: max-content;
}

.card-subtitle::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -3px;
  width: calc(100% + var(--padding));
  background: var(--second-color);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 500ms ease;
}

.card-body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: rgb(255, 255, 255 / 0.85);
}

.card-body2 {
  margin: 0;
  padding: 0;
}

.card-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: var(--third-color);
  background-color: var(--second-color);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
}

.card-button:hover,
.card-button:focus {
  background-color: var(--first-alpha-color);
}

@media (hover) {
  .card-content {
    transform: translateY(70%);
    transition: transform 500ms ease;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
  }

  .card:hover .card-content,
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > * {
    opacity: 1;
    transition-delay: 1000ms;
  }

  .card:hover .card-title::after {
    transform: scaleX(1);
  }

  .card:hover .card-subtitle::after {
    transform: scaleX(1);
    transition-delay: 1500ms;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}
/* ********** Contact Form ************ */
.contact-form {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form input,
.contact-form textarea {
  font-size: 0.85rem;
  font-family: var(--font);
  color: var(--black-color);
}

.contact-form input {
  background-color: var(--first-alpha-color);
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--grey-dark-color);
}

.contact-form input::placeholder {
  color: var(--text-color);
}

.contact-form textarea {
  background-color: var(--first-alpha-color);
  border: thin solid var(--grey-dark-color);
  resize: none;
}

.contact-form input[type="submit"] {
  margin-top: 0;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.contact-form input[type="submit"]:hover {
  opacity: 0.75;
}

.contact-form *::placeholder {
  color: var(--grey-color);
}

.contact-form select {
  background-color: var(--first-alpha-color);
  color: var(--grey-color);
  border: 0;
  padding-left: 0;
  border-bottom: thin solid var(--grey-dark-color);
}

.contact-form-response {
  padding: 1rem;
  width: 400px;
  text-align: center;
  background-color: var(--second-color);
}

.contact-form-response svg {
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--first-alpha-color);
}

.modal#gracias:target {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (min-width: 1024px) {
  .contact-form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
  }

  .contact-form textarea,
  .contact-form-loader {
    grid-column: span 2;
  }

  .contact-form input[type="submit"] {
    margin-left: 0;
  }
}

/* ******* Modal ********** */

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-alpha-color);
  opacity: 0;
  pointer-events: none;
  transition: all 1s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.modal-close svg {
  width: 3rem;
  height: 3rem;
  fill: var(--second-alpha-color);
}

.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ************ Menu*********** */
.menu-btn {
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--white-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--first-color);
}

.menu a:hover {
  color: var(--second-alpha-color);
  background-color: var(--first-color);
}

.nav img {
  margin: 0;
  width: 5rem;
  height: 1.5rem;
}

.nav img:hover {
  color: var(--second-alpha-color);
}

@media screen and (min-width: 1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  flex-grow: 1;
  width: 100vw;
  z-index: 999;
  position: sticky;
  top: 0;
  background: var(--first-alpha-color);
}

.header nav {
  height: 3rem;
  display: grid inline;
  grid-template-columns: 5 1fr;
  grid-template-rows: 1 1fr;
  justify-content: space-evenly;
}

.header nav a {
  color: var(--white-alpha-color);
  padding-top: 0.6rem;
  transform: scale(1);
  transition: 250ms ease-in;
}

.nav li a {
  color: var(--third-color);
}

.nav li a:hover {
  color: var(--second-alpha-color);
}

.header nav a:hover {
  transform: scale(1.2);
}

.home-index-title {
  min-height: 100vh;
  display: inline;
  max-height: 100vh;
  overflow: hidden;
}

.image-item {
  width: 30vw;
  position: absolute;
  left: 18rem;
  top: 10rem;
}

.image-item {
  fill: var(--black-color);
  transition: 250ms ease-in;
}

.image-item:hover {
  fill: var(--second-color);
}

.image-logo {
  width: 20vw;
  position: relative;
  left: 50vw;
  top: 7rem;
  bottom: 0;
}

.image-logo img {
  margin-top: 12rem;
  height: 40rem;
}

.section {
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}

.section {
  min-height: 100vh;
  display: block;
  padding: 0;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.section-title {
  margin: 2rem 0;
  text-align: center;
  border-bottom: 1px solid var(--grey-dark-color);
}

.section.back-section {
  z-index: 1;
}

.section.active {
  z-index: 2;
  opacity: 1;
  animation: slideSection 1s ease;
}
@keyframes slideSection {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
}

.nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1.2rem;
  transition: 250ms ease-in;
}

.nav a:hover {
  color: var(--title-color);
}

.nav li {
  transform: scale(1);
  transition: 250ms ease-in;
}

.nav li:hover {
  transform: scale(1.2);
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

.about h1 {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  border-bottom: 2px solid var(--grey-dark-color);
}

.portfolio-card {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.portfolio h2 {
  border-bottom: 1px solid var(--first-alpha-color);
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0%/ 0.67),
    hsl(0 0% 0% / 1)
  );
  color: var(--white-color);
  opacity: 0;
  pointer-events: none;
  text-align: left;

  transition: all 0.5s ease-in-out;
}

.portfolio-card-info h3,
p {
  text-align: left;
  margin-top: 8rem;
  transition: 500ms ease;
  transform-origin: left;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card:hover .portfolio-card-info h3 {
  color: var(--second-alpha-color);
  transition-delay: 500ms;
}

.portfolio-card-info > div {
  padding: 1rem;
  border: thin solid var(--white-color);
  width: 100%;
  height: 100%;
}

.portfolio-modal {
  padding: 1rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.portfolio-modal h3 {
  border-bottom: medium solid var(--first-alpha-color);
  padding: 0.5rem 0;
  margin: 1rem auto;
  color: var(--title-color);
}

.portfolio-info {
  color: var(--grey-dark-color);
}

.portfolio-details {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-auto-rows: 2rem;
  max-width: 1;
}

.portfolio-details b {
  color: var(--title-color);
}

.service-card {
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}

.service-card h3 {
  color: var(--title-color);
}

.service-card svg {
  margin-bottom: 1.25rem;
  fill: var(--first-color);
}

@media screen and (min-width: 768px) {
  .contact-cards {
    display: grid;
    grid-template-columns: repeat(2, 48%);
    justify-content: space-between;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio .section-title {
    grid-column: span 2;
  }

  .portfolio-modal {
    max-width: 500px;
    flex-direction: column;
  }

  .portfolio-info {
    margin-left: 1rem;
    align-self: center;
  }
}
@media screen and (min-width: 1024px) {
  .portfolio > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
  }

  .portfolio .section-title {
    grid-column: span 3;
  }

  .services > .container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }
}

/* ********** HeroImage ************ */
.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--hero-opacity-color);
}

.hero-image-title {
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

@media screen and (min-width: 1024px) {
  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* ********** Contact Form ************ */

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form p {
  margin: 0;
  padding-top: 0.5rem;
}

.contact-form2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form2 h2 {
  text-align: center;
  margin-top: 1rem;
  border-bottom: 1px solid var(--first-alpha-color);
}

.contact-form h2 {
  text-align: center;
  transition: 250ms ease-in;
}

.contact-form h2:hover {
  color: var(--second-alpha-color);
}

.contact-form input::placeholder {
  color: var(--black-alpha-color);
}

.contact-form h3 {
  padding-left: 1rem;
  border-bottom: 1px solid var(--first-alpha-color);
}

.contact-form input,
textarea {
  background: none;
  outline: none;
  transition: 250ms ease-in;
}

.contact-form textarea {
  background: none;
  border-style: none;
  border-bottom: 1px solid var(--grey-dark-color);
  border-right: 1px solid var(--grey-dark-color);
}

.contact-form textarea::placeholder {
  color: var(--black-alpha-color);
}

.contact-form input:focus,
textarea:focus {
  box-shadow: 0 4px 4px var(--first-alpha-color);
}

.contact-form input:active {
  background: none;
}

.btn {
  color: var(--black-color);
}

.btn:hover {
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 0%/ 0.2),
    hsl(0 0% 0% / 0.5)
  );
  transition: 500ms ease-in;
}

@media screen and (min-width: 1024px) {
  .home-index-title {
    overflow: hidden;
  }
}

@media screen and (max-width: 512px) {
  .home-index-title {
    overflow: hidden;
  }

  .nav a {
    font-size: 1rem;
  }

  .nav img {
    height: 1rem;
    padding: 0;
    margin-left: -2rem;
  }

  .image-item {
    margin-top: 2rem;
    width: 15rem;
    left: 22vw;
  }

  .image-logo {
    width: 40rem;
    left: 11vw;
  }

  .card {
    overflow: scroll;
  }

  .contact-header h2 {
    margin-top: 2.5rem;
  }

  .contact-header p {
    margin: 0;
    margin-left: 1rem;
    padding-top: 1rem;
  }

  .header-p {
    font-size: 0.7rem;
  }

  .portfolio-modal {
    font-size: 0.9rem;
    margin: 1rem;
    height: 650px;
  }

  .portfolio-info p {
    margin: 0;
  }
}

.style-switcher {
  position: fixed;
  right: 0;
  top: 10px;
  padding: 15px;
  width: 200px;
  border: 1px solid var(--bg-black-50);
  background: var(--bg-black-100);
  z-index: 101;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.style-switcher.open {
  -webkit-transform: translateX(-25%);
  transform: translateX(-25%);
}

.style-switcher .s-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  text-align: center;
  font-size: 20px;
  background: var(--black-alpha-color);
  color: var(--text-black-900);
  right: 100%;
  border: 1px solid var(--bg-black-50);
  margin-right: 25px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50%;
}

.style-switcher .s-icon i {
  line-height: 40px;
}

.style-switcher .style-switcher-toggler {
  top: 0;
}

.style-switcher .day-night {
  top: 55px;
  transition: 250ms ease;
  transform-origin: right;
}

.day-night .active {
  transform: translateX(100px);
}
